{% extends 'base.html' %}

{% block title %}Home - ollege portal {% endblock %}

{% block content %}
<h1>Welcom to College smart portal</h1>
<p>Total student : {{students|length}}</p>
<h2>Quick stats</h2>
<ul>
    {% for student in students %}
    <li>
        {{student.name}} - 
        {{student.marks}} marks -
        {% if student.marks>= 75 %}
        Good
        {% elif student.marks >= 60 %}
        average
        {% else %}
        Needs Improvement
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}