{% extends 'base.html' %}

{% block title %}
Student Records
{% endblock %}

{% block content %}

<h2>Student Records</h2>

<table class="table table-striped table-hover" border="1" cellpadding="10">
    <thead class="table-dark">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Department</th>
    <th>Attendance</th>
    <th>Marks</th>
    <th>Details</th>
</tr>
</thead>

{% for student in students %}

<tr>
    <td class="fw-bold">{{ student.id }}</td>
    <td class="fw-bold">{{ student.name }}</td>
    <td class="fw-bold">{{ student.department }}</td>
    <td class="fw-bold">{{ student.attendance }}</td>
    <td class="fw-bold">{{ student.marks }}</td>
    
    <td>
        <a href="{{ url_for('record', id=student.id) }}">
            View
        </a>
    </td>
</tr>


{% endfor %}

</table>

{% endblock %}